// MIXINS

@mixin linear-gradient($deg: -45deg, $clr-1: red, $clr-2: blue) {
  background-image: linear-gradient($deg, $clr-1, $clr-2);
}

@mixin pseudo-underline {
  width: 7rem;
  height: 1px;
  background-color: rgb(11, 11, 11);
  margin: 2rem auto;
}

@mixin ui-element($size, $color, $bg-color, $hover-color, $hover-bg-color) {
  padding: $size;
  color: $color;
  background-color: $bg-color;

  &:hover,
  &:focus {
    color: $hover-color;
    background-color: $hover-bg-color;
  }
}

body {
  font-family: system-ui;
  margin: 0;
}

.title {
  &::after {
    content: "";
    display: block;
    @include pseudo-underline;
  }
}

.section-one,
.section-two,
.section-three {
  text-align: center;
  padding: 10vh 0;
}

.section-one {
  color: #fff;
  @include linear-gradient;
}

.section-two {
  color: #fff;
  @include linear-gradient($deg: -75deg, $clr-1: green, $clr-2: yellow);
}

.section-three {
  color: #fff;
  @include linear-gradient($deg: 45deg, $clr-1: purple, $clr-2: gold);
}

.button-one {
  @include ui-element(1em 3em, yellow, red, red, yellow);
}

.button-two {
  @include ui-element(1.5em 3.25em, blue, gray, gray, blue);
}

.badge-one {
  display: inline-block;
  @include ui-element(0.25em 0.75em, white, black, black, white);
}

.badge-two {
  display: inline-block;
  @include ui-element(0.5em 1.25em, black, white, white, black);
}
