// MIXINS

@mixin linear-gradient($deg: -45deg, $clr-1: red, $clr-2: blue) {
  background-image: linear-gradient($deg, $clr-1, $clr-2);
}

@mixin pseudo-underline {
  width: 7rem;
  height: 1px;
  background-color: rgb(11, 11, 11);
  margin: 2rem auto;
}

@mixin ui-element($size, $color, $bg-color, $hover-color, $hover-bg-color) {
  padding: $size;
  color: $color;
  background-color: $bg-color;
}

body {
  font-family: system-ui;
  margin: 0;
}

.title {
  &::after {
    content: "";
    display: block;
    @include pseudo-underline;
  }
}

.section-one,
.section-two,
.section-three {
  text-align: center;
  padding: 10vh 0;
}

.section-one {
  color: #fff;
  @include linear-gradient;
}

.section-two {
  color: #fff;
  @include linear-gradient($deg: -75deg, $clr-1: green, $clr-2: yellow);
}

.section-three {
  color: #fff;
  @include linear-gradient($deg: 45deg, $clr-1: purple, $clr-2: gold);
}
